### OS ###
.DS_Store

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Gradle / Java build artifacts (any module) ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
